* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: white;
}

#root {
  width: 380px;
  background-color: #eee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

#loading {
  width: 380px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

#home {
  padding: 15px;
  .logo {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    img {
      width: 120px;
      height: 55px;
      border-radius: 10px;
    }
  }

  .search {
    position: relative;
    .searchicon {
      font-size: 16px;
    }
    i {
      position: absolute;
      left: 30px;
      top: 15px;
    }
    .searchinput {
      width: 320px;
      margin-left: 10px;
      height: 45px;
      border: none;
      border-radius: 10px;
      padding-right: 100px;
    }
  }

  ul {
    padding: 10px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    .orange {
      // margin-left: 30px;
      color: orange;
    }
    .orange2 {
      margin-left: 30px;
      color: orange;
    }
    .pending {
      margin-left: 30px;
    }
    .li {
      margin-left: 30px;
      margin-bottom: 10px;

      &:hover {
        color: orange;
      }
    }

    .lu:hover {
      color: orange;
    }
  }
}

#lavash {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: #ffa600f7;
    }

    .increment {
      margin-right: 20px;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;

      :disabled {
        background-color: white;
      }
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}
#burger {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}

#kombo {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}

#pizza {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}
#sendvich {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}

#footer {
  position: sticky;
  width: 380px;
  bottom: 0;
  z-index: 999;
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 15px;

  .uzs {
    color: orange;
    font-size: 25px;
  }
  .all {
    color: silver;
    font-size: 16px;
    margin-bottom: 0;
  }
  p {
    margin: 0;
    color: orange;
    font-size: 20px;
  }
  button {
    position: relative;
    left: 100px;
    top: 20px;
    right: 0;
    width: 130px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transform: scale(1.2);
    color: white;
  }
}

#oplata {
  width: 350px;
  background-color: white;
  // height: 100vh;
  .oplata-head {
    align-items: center;
    .back {
      font-size: 35px;
      color: orange;
      margin-left: 15px;
    }

    img {
      width: 125px;
      height: 55px;
      border-radius: 10px;
      margin-left: 180px;
    }
  }

  .oplata-h2 {
    width: 390px;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.5px;
    color: orange;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 37px;
  }

  .post {
    display: flex;
    width: 350px;
    height: 140px;
    background-color: silver;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;

    .labash {
      width: 180px;
      height: 120px;
      border-radius: 15px;
      margin-top: 10px;
      margin-left: 10px;
    }

    .post-txt {
      margin-left: 15px;

      h5 {
        letter-spacing: 0.5px;
        font-weight: 500;
        padding-top: 10px;
      }
      .post-txt-p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.5px;
      }
      .post-txt-p2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.5px;
        margin-top: -15px;
        color: rgb(221, 218, 218);
      }
    }
  }

  .post-settings {
    width: 350px;
    display: flex;
    padding: 10px 10px 6px 10px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    flex-direction: column;
    background-color: silver;

    .quantity {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #a0a0a0;

      img {
        width: 50px;
        height: 50px;
      }

      .quantity-name {
        width: 150px;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 0;
      }

      .quantity-price {
        display: flex;
        flex-direction: column;

        .buttons {
          display: flex;
          justify-content: space-between;

          p {
            margin-top: 8px;
          }

          .btn-minus {
            all: unset;
            width: 38px;
            height: 38px;
            color: white;
            font-size: 22px;
            font-weight: 100;
            text-align: center;
            border-radius: 12px;
            background-color: #a0a0a0;
          }

          .btn-plus {
            all: unset;
            width: 38px;
            height: 38px;
            color: white;
            font-size: 22px;
            font-weight: 100;
            text-align: center;
            border-radius: 12px;
            background-color: green;
          }
        }
      }
    }

    .delivery {
      display: flex;
      margin-top: 15px;
      justify-content: space-between;
      border-bottom: 1px solid #a0a0a0;

      .delivery-name {
        font-size: 19px;
        font-weight: 500;
      }
    }

    .total {
      display: flex;
      margin-top: 15px;
      justify-content: space-between;

      .total-name {
        font-size: 19px;
        font-weight: 500;
      }
    }
  }

  .payment {
    width: 350px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px silver;

    .payment-text {
      display: flex;
      padding: 4px 10px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid silver;

      p {
        font-size: 18px;
        margin-top: 10px;
      }
    }

    .payment-btn {
      gap: 3px;
      padding: 7px;

      .have {
        all: unset;
        color: white;
        padding: 13px 6px;
        border-radius: 20px;
        background-color: orange;
      }

      .payme {
        all: unset;
        color: silver;
        padding: 13px 6px;
        border-radius: 20px;
        // background-color: orange;
      }
    }
  }

  .footer-oplatit {
    z-index: 999;
    padding: 20px;
    width: 380px;
    position: sticky;
    bottom: 0;
    border-radius: 19px 19px 0px 0px;
    box-shadow: 0 0 15px silver;
    margin-top: 150px;
    background-color: white;

    .footer-btn {
      all: unset;
      width: 320px;
      color: white;
      padding: 10px;
      text-align: center;
      border-radius: 13px;
      background-color: orange;
    }
  }
}
